# Ignore everything
*
# except
!.gitignore
!vsc
!kill_ssh_agent
!start_ssh_agent
!gitlive
!.bash_profile
!.bashrc
!.ssh
!.gnupg
!/c_sample
!/c_sample/*
!/java_sample
!/java_sample/*
!/node_sample
!/node_sample/*
!/python_sample
!/python_sample/*

